[submodule "packages/services/arbitrum"]
	path = packages/services/arbitrum
	url = https://github.com/OffchainLabs/arbitrum
	branch = master
[submodule "packages/services/optimism"]
	path = paereum-optimism/optimism
	branch = regenes
